/* You can add global styles to this file, and also import other style files */

@import "assets/fonts.scss";
@import "@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(188, 188, 188);
    background-color: transparent;
    font-size: 16px;
    height: 100%;
}

body { font-family: Roboto, "Helvetica Neue", sans-serif; }

div.page {
    &.page-start {
        background-color: rgb(243, 228, 210);
    }
    &.page-labor {
        background-color: rgb(172, 229, 222);
    }
    &.page-notfound {
        background-color: rgb(195, 195, 224);
    }
    &.page-simulation {
        background-color: rgb(224, 195, 214);
        overflow-x: hidden;
        canvas {
            width: 100px;
            height: 100px
        }
    }
}