:host {
  display: block;
}

drv-dropdown .drv-dropdown {
  background-color: red !important; // #e1e6ec;
}

drv-dropdown {
  // background-color: yellow; // works
}

.drv-dropdown {
  background-color: blue !important;
}

.drv-tiles {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 767px)  {
  .drv-tiles {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%
  }
  
}
@media (min-width: 768px) {
  .drv-tiles {
    grid-gap: 2rem;
    // max-width: 100%;
  }
}
@media (min-width: 1025px) {
  .drv-tiles {
    grid-gap: 2rem;
    // max-width: 100%;
  }
}
@media (min-width: 1440px) {
  .drv-tiles {
    grid-gap: 2rem;
    // max-width: 100%;
  }
}

// }

// @media (min-width: 48rem) {
//   .drv-tiles {
//     grid-gap: 2rem;
//   }
//   .drv-tiles {
//       grid-gap: 1rem;
//       display: grid;
//       grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
//       max-width: 90rem;
//   }
// }